<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Home.Name }}</title>
    <meta name="description" content="{{.Home.Detail}}">
  </head>
  <body>
     {{ template "Content" . }}
  </body>
</html>
